<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Assured Testing Suite">

    <listeners>
        <listener class-name="utility.ExtentReportsManager"></listener>
    </listeners>

    <test name="userTests">
        <classes>
            <class name="tests.UserTests"/>
        </classes>
    </test>

    <test name="dataDrivenUserTests">
        <classes>
            <class name="data_driven_tests.UserTests"/>
        </classes>
    </test>

    <test name="PetTests">
        <classes>
            <class name="tests.PetTests"/>
        </classes>
    </test>
</suite> 